header {
    background-color: var(--foreground-dark);
    width: calc(100vw - var(--aside-width));
    height: var(--header-height);
    margin-left: var(--aside-width);
    position: absolute;
}

.drag-region {
    -webkit-app-region: drag;
    flex-grow: 1;
}

header button {
    width: var(--header-height);
    height: var(--header-height);
    cursor: default;
    background-color: var(--foreground-dark);
}
